<template>
  <v-container>
    <v-card variant="outlined">
      <v-card-title>Simple Translate Page (to English)</v-card-title>
      <div class="d-flex justify-space-between">
        <v-textarea
            outlined
            v-model="input"
            name="input"
            label="Input Text"
            class="mx-3"
        ></v-textarea>
        <v-btn
          color="primary"
          class="mt-16"
          append-icon="mdi-chevron-right"
          @click="translateText"
        >Translate </v-btn>
        <v-textarea
            outlined
            v-model="output"
            name="output"
            label="Output Text"
            class="mx-3"
        ></v-textarea>
      </div>
    </v-card>
  </v-container>
</template>

<script>
  import _debounce from 'lodash/debounce'
  export default {
    name: 'TranslateForm',

    data: () => ({
      input: '',
      output: '',
      api: 'https://amm-api-translate.herokuapp.com/translate?engine=google&text={text}&to={to}'
    }),

    methods: {
      translateText: _debounce(function() {
        fetch(this.api.replace('{text}', this.input).replace('{to}', 'en'))
          .then(response => response.json())
          .then(response => {
            this.output = response.data.result;
          })
          .catch(error => console.error(error))
      }),
    },
  }
</script>