<template>
  <v-app>
    <v-main>
      <TranslateForm/>
    </v-main>
  </v-app>
</template>

<script>
import TranslateForm from './components/TranslateForm.vue'

export default {
  name: 'App',

  components: {
    TranslateForm,
  },

  data: () => ({
    //
  }),
}
</script>
